<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="assets/css/style.css" rel="stylesheet">
    <title>{{ title }}</title> 
  </head>
  <body class="flex flex-col min-h-dvh overflow-y-scroll bg-gray-100">
    <header class="bg-blue-950 border-b-orange-400 border-b-2">
      <div class="wrapper py-3 text-gray-100 font-semibold flex gap-3 justify-end">
      <a href="/">blog</a>
      <a href="/">garden</a>
      <a href="/">log</a>
      </div>
    </header>
    <main class="flex-1 wrapper py-2">
      {% block content %}
      {{ content | safe }}
      {% endblock %}    
    </main>
    <footer class="">
      <div class="wrapper p-3 flex justify-center text-gray-400 text-sm">
      &copy; {% year %} kolfan.net
      </div>
    </footer>
  </body>
</html>